.bold {
  font-weight: bold;
}

#wiki-title {
  font-size: 2em;
}

#centered-div {
  text-align: center;
}
.img-thumbnail {
    max-height: 50%;
    max-width: 50%;
    float: right;
}
#powder {
  max-height: 50%;
  max-width: 50%;
  float: left;
}

#wiki-logo {
  max-height: 90%;
  max-width: 90%;

}
